{% extends "layout.html" %}
{% block content %}

<div id="main-content">
  <ul class="breadcrumb">
    <li>
      <a href="/">Home</a> <span class="divider">/</span>
    </li>
    <li>
      <a href="/keyword/">Keyword</a>
    </li>
  </ul>

  <div>
  {% if message %}
    {{ message }}
  {% else %}
          <table class="table">
              <thead>
                  <tr>
                      <td>id</td>
                      <td>query</td>
                      <td>type</td>
                      <td>num_searchs</td>
                      <td>num_results</td>
                      <td>depts</td>
                      <td>searched_at</td>
                      <td>searched_at</td>
                  </tr>
              </thead>
              <tbody>

              {% for r in results %}
              <tr>
                  <td>{{ r.id }}</td>
                  <td>{{ r.query}}</td>
                  <td>{{ r.type}}</td>
                  <td>{{ r.num_searchs }}</td>
                  <td>{{ r.num_results }}</td>
                  <td>{% for d in  r.depts %}{{d}},{% endfor %}</td>
                  <td>{{ r.searched_at}}</td>
                  <td><a name="{{ r.query }}" id="{{ r.id }}" href="javascript:void(0);" class="btn btn_delete">delete</a></td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
      </div>  

    <div class="pagination pagination-centered">
      <ul>
        {% if pagination.has_prev %}
        <li><a class="pagination" page="{{pagination.page-1}}" href="#">Prev</a></li>
        {% endif %}
        {% for page in pagination.iter_pages() %}
        {% if page %}
          {% if page == pagination.page %}
            <li class="active"><a class="pagination" page="" href="#">{{page}}</a></li>
          {% else %}
            <li><a class="pagination" page="{{page}}" href="#">{{page}}</a></li>
          {% endif %}
        {% else %}
          <li><a class="pagination" page="" href="#">...</a></li>
        {% endif %}
        {% endfor %}
        {% if pagination.has_next %}
        <li><a class="pagination" page="{{pagination.page+1}}" href="#">Next</a></li>
        {% endif %}
      </ul>
    </div>   
  {% endif %}

</div><!--main-content-->
  
      
<div class="modal hide fade" id="myModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Settings</h3>
  </div>
  <div class="modal-body">
    <p>Here settings can be configured...</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-primary">Save changes</a>
  </div>
</div>

<div class="modal hide fade" id="reason-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Classification Reason</h3>
  </div>
  <div class="modal-body" id="reason-body">
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>

<div class="modal hide fade" id="edit-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">x</button>
    <h3>Reclassify All Departments</h3>
  </div>
  <div class="modal-body" id="edit-body">
    Depts: (e.g. ['Women', 'Shoes']) <input type="text" id="edit-input" class="input-large" value=""/>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary" id="edit-save">Save</a>
    <a href="#" class="btn" data-dismiss="modal">Close</a>
</div>

{% endblock %}

{% block script %}
<script>
  // make nav css correct
  $('li[name=viewdata]').each(function(){
    var link = $(this).find(">:first-child").attr('href');
    if (window.location.href.indexOf(link) != -1){
      $(this).addClass('active');
    }
  });

  // make selection consistent with url
  var param = $.deparam(window.location.href.substr(window.location.href.indexOf('?')+1));

  // pagination
  $('a.pagination').live('click', function(){
    if ($(this).attr('page')) {
      var url = "/keyword/?page=" + $(this).attr('page');
      window.location.href = url;
    }
  });

function getCookie(name) {
    var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
    return r ? r[1] : undefined;
}

$('.btn_delete').die().live('click',function(e){

    var title = $(this).attr('name');
    var id    = $(this).attr('id');
    var tr = $(this).parent().parent()

    if(!confirm('Are you sure to delete '+ title +' ?')){
        return;
    }
    $.ajax({
        url: '/keyword/'+id+'?_xsrf='+getCookie("_xsrf"),
        type: 'DELETE',
        data: {_xsrf: getCookie("_xsrf")}, 
        success: function(data) {
            if(data=='1'){
                tr.remove();
            }
        }
    });
})

</script>
{% endblock %}
