{% extends "layout.html" %}
{% block content %}
<div class="row-fluid">
	<div>
		<ul class="breadcrumb">
			<li>
				<a href="/">Home</a> <span class="divider">/</span>
			</li>
			<li>
				<a href="/brands/">Brand</a>
			</li>
			{% if brand %}
			<li>
				 <span class="divider">/</span>
				<a href="/brand/{{ brand['title'] }}?t=p">{{ brand['title'] }}</a>
			</li>
			{% endif %}
		</ul>
	</div>

	{% if brand %}
	<div class="row-fluid sortable ui-sortable">
		<div class="box span12">
			<div class="box-header well" data-original-title="">
				<h2><i class="icon-edit"></i>Brand</h2>
				<div class="box-icon">
					<a href="#" id="toggle-fullscreen" class="btn btn-setting btn-round"><i class="icon-fullscreen"></i></a>
					<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
					<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
				</div>
			</div>
			<div class="box-content">
				<form class="form-horizontal" method="post">
					{{ xsrf_form_html() }}
					<fieldset>
						<legend>{{ brand['title'] }}</legend>
						<div class="control-group">
							<label class="control-label" for="typeahead">title</label>
							<div class="controls">
								<input type="text" class="span6 typeahead" name="title" data-provide="typeahead" data-items="4" data-source="[]" value="{{ brand['title'] }}" disabled="">
								<p class="help-block"></p>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="typeahead">title edit</label>
							<div class="controls">
								<input type="text" class="span6 typeahead" name="title_edit" data-provide="typeahead" data-items="4" data-source="[]" value={% if brand['title_edit'] %}"{{ brand['title_edit'] }}"{% else %}""{% endif %}>
								<p class="help-block"></p>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="typeahead">chinese title</label>
							<div class="controls">
								<input type="text" class="span6 typeahead" name="title_cn" data-provide="typeahead" data-items="4" data-source="[]" value={% if brand['title_cn'] %}"{{ brand['title_cn'] }}"{% else %}""{% endif %}>
								<p class="help-block"></p>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">title checked</label>
							<div class="controls">
								<label class="radio">
									<div class="radio" id="uniform-optionsRadios1"><span class="checked"><input type="radio" name="title_checked" id="optionsRadios1" value="True" {%
										if brand['title_checked'] %}checked=""{% endif %} style="opacity: 0;"></span></div>
									Yes
								</label>
								<div style="clear:both"></div>
								<label class="radio">
									<div class="radio" id="uniform-optionsRadios2"><span class=""><input type="radio" name="title_checked" id="optionsRadios2" value="False" {%
										if not brand['title_checked'] %}checked=""{% endif %} style="opacity: 0;"></span></div>
									No
								</label>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="typeahead">alias</label>
							<div class="controls">
								{% for alias in brand['alias'] %}
								<input type="text" class="span6 typeahead" name="alias" data-provide="typeahead" data-items="4" data-source="[]" value="{{ alias }}">
								{% endfor %}
								<input type="text" class="span6 typeahead" name="alias" data-provide="typeahead" data-items="4" data-source="[]" value="">
								<p class="help-block"></p>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">delete</label>
							<div class="controls">
								<label class="radio">
									<div class="radio"><span class="checked"><input type="radio" name="is_delete" value="True" {%
										if brand['is_delete'] %}checked=""{% endif %} style="opacity: 0;"></span></div>
									Yes
								</label>
								<div style="clear:both"></div>
								<label class="radio">
									<div class="radio"><span class=""><input type="radio" name="is_delete" value="False" {%
										if not brand['is_delete'] %}checked=""{% endif %} style="opacity: 0;"></span></div>
									No
								</label>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="typeahead">keywords</label>
							<div class="controls">
								<textarea class="autogrow" name="keywords">{{ brand['keywords'] }}</textarea> (separate by ; )
								<p class="help-block"></p>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="textarea2">description</label>
							<div class="controls">
									<textarea class="cleditor.old" name="blurb" rows="3" style="width: 500px; height: 197px;">{{ brand['blurb'] }}</textarea>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="textarea2">chinese description</label>
							<div class="controls">
									<textarea class="cleditor.old" name="blurb_cn" rows="3" style="width: 500px; height: 197px;">{{ brand['blurb_cn'] }}</textarea>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="typeahead">level</label>
							<div class="controls">
								<input type="text" class="span6 typeahead" name="level" data-provide="typeahead" data-items="4" data-source="[]" value="{{ brand['level'] }}">
								<p class="help-block"></p>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="typeahead">url</label>
							<div class="controls">
								<input type="text" class="span6 typeahead" name="url" data-provide="typeahead" data-items="4" data-source="[]" value="{{ brand['url'] }}">
								<p class="help-block"></p>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">url checked</label>
							<div class="controls">
								<label class="radio">
									<div class="radio"><span class="checked"><input type="radio" name="url_checked" value="True" {% if brand['url_checked'] %}checked=""{% endif %} style="opacity: 0;"></span></div>
									Yes
								</label>
								<div style="clear:both"></div>
								<label class="radio">
									<div class="radio"><span class=""><input type="radio" name="url_checked" value="False" {% if not brand['url_checked'] %}checked=""{% endif %} style="opacity: 0;"></span></div>
									No
								</label>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="typeahead">department</label>
							<div class="controls">
								{% for dept in brand['dept'] %}
								<input type="text" class="span6 typeahead" name="dept" data-provide="typeahead" data-items="4" data-source="[]" value="{{ dept }}">
								{% endfor %}
								<input type="text" class="span6 typeahead" name="dept" data-provide="typeahead" data-items="4" data-source="[]" value="">
								<p class="help-block"></p>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">all checked</label>
							<div class="controls">
								<label class="radio">
									<div class="radio"><span class="checked"><input type="radio" name="done" value="True" {% if brand['done'] %}checked=""{% endif %} style="opacity: 0;"></span></div>
									Yes
								</label>
								<div style="clear:both"></div>
								<label class="radio">
									<div class="radio"><span class=""><input type="radio" name="done" value="False" {% if not brand['url_checked'] %}checked=""{% endif %} style="opacity: 0;"></span></div>
									No
								</label>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="disabledInput">created</label>
							<div class="controls">
								<input class="input-xlarge disabled" name="created_at" type="text" placeholder="{{ brand['created_at'] }}" disabled="">
							</div>
						</div>
						<div class="form-actions">
							<button type="submit" class="btn btn-primary">Save changes</button>
							<button type="reset" class="btn">Cancel</button>
						</div>
					</fieldset>
				</form>   

			</div>
		</div><!--/span-->

	</div>

	{% else %}
	<div class="row-fluid sortable ui-sortable">
		<div class="box span12">
			<div class="box-header well" data-original-title="">
				<h2><i class="icon-edit"></i>Brand</h2>
				<div class="box-icon">
					<a href="#" id="toggle-fullscreen" class="btn btn-setting btn-round"><i class="icon-fullscreen"></i></a>
					<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
					<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
				</div>
			</div>
			<div class="box-content">
				<form class="form-horizontal" method="post">
					{{ xsrf_form_html() }}
					<fieldset>
						<legend></legend>
						<div class="control-group">
							<label class="control-label" for="typeahead">title</label>
							<div class="controls">
								<input type="text" class="span6 typeahead" name="title" data-provide="typeahead" data-items="4" data-source="[]">
								<p class="help-block"></p>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="typeahead">title edit</label>
							<div class="controls">
								<input type="text" class="span6 typeahead" name="title_edit" data-provide="typeahead" data-items="4" data-source="[]">
								<p class="help-block"></p>
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="typeahead">chinese title</label>
							<div class="controls">
								<input type="text" class="span6 typeahead" name="title_cn" data-provide="typeahead" data-items="4" data-source="[]">
								<p class="help-block"></p>
							</div>
						</div>

						<div class="control-group">
							<label class="control-label">title checked</label>
							<div class="controls">
								<label class="radio">
									<div class="radio" id="uniform-optionsRadios1"><span class="checked"><input type="radio" name="title_checked" id="optionsRadios1" value="True" style="opacity: 0;"></span></div>
									Yes
								</label>
								<div style="clear:both"></div>
								<label class="radio">
									<div class="radio" id="uniform-optionsRadios2"><span class=""><input type="radio" name="title_checked" id="optionsRadios2" value="False" checked="" style="opacity: 0;"></span></div>
									No
								</label>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="typeahead">alias</label>
							<div class="controls">
								<input type="text" class="span6 typeahead" name="alias" data-provide="typeahead" data-items="4" data-source="[]" value="">
								<p class="help-block"></p>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">delete</label>
							<div class="controls">
								<label class="radio">
									<div class="radio"><span class="checked"><input type="radio" name="is_delete" value="True" style="opacity: 0;"></span></div>
									Yes
								</label>
								<div style="clear:both"></div>
								<label class="radio">
									<div class="radio"><span class=""><input type="radio" name="is_delete" value="False" checked="" style="opacity: 0;"></span></div>
									No
								</label>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="typeahead">keywords</label>
							<div class="controls">
								<textarea class="autogrow" name="keywords"></textarea> (separate by ; )
								<p class="help-block"></p>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="textarea2">description</label>
							<div class="controls">
								<textarea class="cleditor.old" name="blurb" rows="3" style="width: 500px; height: 197px;"></textarea>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="textarea2">chinese description</label>
							<div class="controls">
								<textarea class="cleditor.old" name="blurb_cn" rows="3" style="width: 500px; height: 197px;"></textarea>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="typeahead">level</label>
							<div class="controls">
								<input type="text" class="span6 typeahead" name="level" data-provide="typeahead" data-items="4" data-source="[]">
								<p class="help-block"></p>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="typeahead">url</label>
							<div class="controls">
								<input type="text" class="span6 typeahead" name="url" data-provide="typeahead" data-items="4" data-source="[]">
								<p class="help-block"></p>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">url checked</label>
							<div class="controls">
								<label class="radio">
									<div class="radio"><span class="checked"><input type="radio" name="url_checked" value="True" style="opacity: 0;"></span></div>
									Yes
								</label>
								<div style="clear:both"></div>
								<label class="radio">
									<div class="radio"><span class=""><input type="radio" name="url_checked" value="False" checked="" style="opacity: 0;"></span></div>
									No
								</label>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="typeahead">department</label>
							<div class="controls">
								<input type="text" class="span6 typeahead" name="dept" data-provide="typeahead" data-items="4" data-source="[]" value="">
								<p class="help-block"></p>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">all checked</label>
							<div class="controls">
								<label class="radio">
									<div class="radio"><span class="checked"><input type="radio" name="done" value="True" style="opacity: 0;"></span></div>
									Yes
								</label>
								<div style="clear:both"></div>
								<label class="radio">
									<div class="radio"><span class=""><input type="radio" name="done" value="False" checked="" style="opacity: 0;"></span></div>
									No
								</label>
							</div>
						</div>
						<div class="form-actions">
							<button type="submit" class="btn btn-primary">Save changes</button>
							<button type="reset" class="btn">Cancel</button>
						</div>
					</fieldset>
				</form>   

			</div>
		</div><!--/span-->

	</div>

	{% endif %}

</div>
{% endblock %}