    
    <div class="span10">
        <footer>
            <p class="pull-left">&copy; <a href="#" target="_blank">Favbuy</a> 2013</p>
            <p class="pull-left">Powered by: <a href="http://usman.it/free-responsive-admin-template">Charisma</a></p>
        </footer>
    </div>
        
    <!-- external javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% assets "js1" %} <script src="{{ ASSET_URL }} type="text/javascript"></script> {% endassets %}
    {% assets "js2" %} <script src="{{ ASSET_URL }} type="text/javascript"></script> {% endassets %}
    {% assets "js3" %} <script src="{{ ASSET_URL }} type="text/javascript"></script> {% endassets %}
    {% assets "js4" %} <script src="{{ ASSET_URL }} type="text/javascript"></script> {% endassets %}
    {% assets "js5" %} <script src="{{ ASSET_URL }} type="text/javascript"></script> {% endassets %}
    {% assets "js6" %} <script src="{{ ASSET_URL }} type="text/javascript"></script> {% endassets %}
