{% extends "layout.html" %}
{% block content %}
        <!-- content starts -->
            <div>
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Home</a> <span class="divider">/</span>
                    </li>
                    <li>
                        <a href="#">Dashboard</a>
                    </li>
                </ul>
            </div>
            <div class="sortable row-fluid">
                <a data-rel="tooltip" title="{{ num_new_members }} new members." class="well span3 top-block" href="/member/">
                    <span class="icon32 icon-red icon-user"></span>
                    <div>Total Members</div>
                    <div>{{ num_members }}</div>
                    <span class="notification">{{ num_new_members }}</span>
                </a>

                <a data-rel="tooltip" title="{{ num_new_events }} new events." class="well span3 top-block" href="#">
                    <span class="icon32 icon-color icon-web"></span>
                    <div>Total Events</div>
                    <div>{{ num_events }}</div>
                    <span class="notification green">{{ num_new_events }}</span>
                </a>

                <a data-rel="tooltip" title="{{ num_new_products }} new products." class="well span3 top-block" href="#">
                    <span class="icon32 icon-color icon-globe"></span>
                    <div>Total Products</div>
                    <div>{{ num_products }}</div>
                    <span class="notification yellow">{{ num_new_products }}</span>
                </a>
                
                <a data-rel="tooltip" title="{{ num_new_buys }} new buys." class="well span3 top-block" href="#">
                    <span class="icon32 icon-color icon-cart"></span>
                    <div>Total Buys</div>
                    <div>{{ num_buys }}</div>
                    <span class="notification red">{{ num_new_buys }}</span>
                </a>
            </div>
            
            <div class="row-fluid sortable">
                <div class="box span4">
                    <div class="box-header well" data-original-title>
                        <h2><i class="icon-user"></i> User Activity</h2>
                        <div class="box-icon">
                            <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                            <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="box-content">
                            <ul class="dashboard-list" id="member-activity">
                            </ul>
                        </div>
                    </div>
                </div><!--/span-->
                        
                <div class="box span4">
                    <div class="box-header well" data-original-title>
                        <h2><i class="icon-user"></i> Top Buys Within 24 hours</h2>
                        <div class="box-icon">
                            <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                            <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="box-content">
                            <ul class="dashboard-list" id="member-activity">
                            {% for pid, buy in top_buys %}
                              <li><a href="http://www.favbuy.com/product/{{pid}}/" target="_blank">[{{buy.get('product', {}).get('site_key', 'unknown').split('_',1)[0]}}]{{buy.get('product',{}).get('title',pid)[:35]}}</a>, {{buy['count']}} clicks</li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div><!--/span-->
                        
                <div class="box span4">
                    <div class="box-header well" data-original-title>
                        <h2><i class="icon-user"></i> Top Buy Sites Within 24 hours</h2>
                        <div class="box-icon">
                            <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                            <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="box-content">
                            <ul class="dashboard-list" id="member-activity">
                            {% for site, count in top_buy_sites.most_common() %}
                              <li>{{site}}, {{count}} buys</li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div><!--/span-->
                        
                <!--
                <div class="box span4">
                    <div class="box-header well" data-original-title>
                        <h2><i class="icon-list-alt"></i> Realtime Traffic</h2>
                        <div class="box-icon">
                            <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                            <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <div id="realtimechart" style="height:190px;"></div>
                            <p class="clearfix">You can update a chart periodically to get a real-time effect by using a timer to insert the new data in the plot and redraw it.</p>
                            <p>Time between updates: <input id="updateInterval" type="text" value="" style="text-align: right; width:5em"> milliseconds</p>
                    </div>
                </div>

                <div class="box span4">
                    <div class="box-header well" data-original-title>
                        <h2><i class="icon-list"></i> Weekly Stat</h2>
                        <div class="box-icon">
                            <a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
                            <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                            <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <ul class="dashboard-list">
                            <li>
                                <a href="#">
                                    <i class="icon-arrow-up"></i>                               
                                    <span class="green">92</span>
                                    New Comments                                    
                                </a>
                            </li>
                          <li>
                            <a href="#">
                              <i class="icon-arrow-down"></i>
                              <span class="red">15</span>
                              New Registrations
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <i class="icon-minus"></i>
                              <span class="blue">36</span>
                              New Articles                                    
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <i class="icon-comment"></i>
                              <span class="yellow">45</span>
                              User reviews                                    
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <i class="icon-arrow-up"></i>                               
                              <span class="green">112</span>
                              New Comments                                    
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <i class="icon-arrow-down"></i>
                              <span class="red">31</span>
                              New Registrations
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <i class="icon-minus"></i>
                              <span class="blue">93</span>
                              New Articles                                    
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <i class="icon-comment"></i>
                              <span class="yellow">254</span>
                              User reviews                                    
                            </a>
                          </li>
                        </ul>
                    </div>
                </div>
            -->
            </div><!--/row-->
                  
        <div class="modal hide fade" id="myModal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Settings</h3>
            </div>
            <div class="modal-body">
                <p>Here settings can be configured...</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Close</a>
                <a href="#" class="btn btn-primary">Save changes</a>
            </div>
        </div>
{% endblock %}

{% block script %}
<script>

function poll(interval){
    $.ajax({
        type: 'GET',
        url: '/dashboard/member_activity.json',
        dataType: 'json',
        cache: false,
        success: function(data){
            var html = ''
            for(var i=0; i<data.length; i++){
                var d = data[i];
                html += '<li>'
                if (d['user']['screen_name']){
                    html += '<a href="#">' + d['user']['screen_name'] + '</a>';
                }else{
                    html += '<a href="#">' + 'user_'+d['session_id'].substr(0,10) + '</a>';
                }
                html += ' ';
                if (d['values']['event_id']){
                    html += '<a href="http://www.favbuy.com/event/'+d['values']['event_id'] +'/" target="_blank">(' + d['name'] + ')</a>';
                }else if (d['values']['product_id']){
                    html += '<a href="http://www.favbuy.com/product/'+d['values']['product_id'] +'/" target="_blank">(' + d['name'] + ')</a>';
                }else if (d['values']['category_name']){
                    html += '<a href="http://www.favbuy.com/'+d['values']['category_name'] +'/" target="_blank">(' + d['name'] + ')</a>';
                }else{
                    html += '<a href="" target="_blank">('+ d['name'] + ')</a>';
                }
    
                html += ' @'+d['time'].substr(5,14)+'</li>\n';
            }
            $('#member-activity').html(html);
            setTimeout(function(){poll(interval)}, interval);
        },
    });
}

poll(5000);
    
</script>
{% endblock %}
