{% extends "layout.html" %}
{% block content %}
        <!-- content starts -->
            <div>
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Home</a> <span class="divider">/</span>
                    </li>
                    <li>
                        <a href="/useractionlog/">UserActionLog</a>
                    </li>
                    <li class="pull-right" id="time"></li>
                </ul>
            </div>
            <div class="row-fluid">
              {% if site %}
                <h2>User actions within 24 hours about site {{site}}</h2>
              {% else %}
                <h2>User actions within 24 hours</h2>
              {% endif %}
              <table class="table table-striped" style="table-layout:fixed;width:100%;word-wrap:break-word;">
                <thead>
                  <tr>
                    <th width="18%">UTC Time</th>
                    <th width="10%">User(Session)</th>
                    <th width="10%">Action</th>
                    <th>Title</th>
                    <th>Referer</th>
                    <th width="10%">Original Link</th>
                  </tr>
                </thead>
                <tbody>
                  {% for log in logs %}
                    <tr>
                      <td>{{log.time}}</td>
                      <td>{{log.session}}</td>
                      <td>{{log.action}}</td>
                      <td><a href="http://www.favbuy.com/product/{{log.pid}}/" target="_blank">{{log.title}}</a></td>
                      <td><a target="_blank" href="{{log.referer}}">{{log.referer}}</a></td>
                      <td><a target="_blank" href="{{log.url}}">Open Link</a></td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            
{% endblock %}

{% block script %}
<script>
</script>
{% endblock %}
