{% extends "layout.html" %}
{% block content %}

<div id="main-content">
  <ul class="breadcrumb">
    <li>
      <a href="/">Home</a> <span class="divider">/</span>
    </li>
    <li>
      <a href="#">View Data</a>
    </li>
  </ul>

  <ul id="view-tab" class="nav nav-tabs">
    <li class="active"><a href="#view-data" data-toggle="tab">View Data</a></li>
    <li><a href="#view-published" data-toggle="tab">View Published</a></li>
    <li><a href="#view-missing" data-toggle="tab">View Unclassified</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="view-data">
      <div class="row-fluid">
        <div class="box span6">
          <div class="box-header well" data-original-title>
            <h2><i class="icon-th"></i> Event Listing</h2>
          </div>
          <div class="box-content">
            <div class="row-fluid">
              <form class="form-horizontal">
                <div class="control-group">
                  <label class="control-label" for="select-site">Select Site</label>
                  <div class="controls">
                    <select id="select-site" data-rel="chosen">
                      {% for site in sites %}
                      <option value="{{site}}">{{site}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </form>
            </div>    
            <table id="eventtable" class="table table-striped bootstrap-datatable datatable">
              <thead>
                <tr>
                  <th width="35%">Event Image</th>
                  <th width="15%">Created</th>
                  <th width="45%">Event Info</th>
                  <th width="5%">M</th>                                          
                </tr>
              </thead>   
              <tbody>
                <tr>
                  <td colspan="5" class="dataTables_empty">Loading data from server</td>
				</tr>                                
              </tbody>  
            </table>  
          </div><!--box-content-->     
        </div><!--/span Event Listing-->
        
        <div class="box span6">
          <div class="box-header well" data-original-title>
            <h2><i class="icon-th"></i> Products of Event</h2>
            <div class="box-icon">
              <a href="#" class="btn btn-round"><i class="icon-remove"></i></a>
            </div>
          </div>
          <div class="box-content">
            <table id="producttable" class="table table-striped bootstrap-datatable datatable">
              <thead>
                <tr>
                  <th width="25%">Product Image</th>
                  <th width="15%">Created</th>
                  <th width="55%">Product Info</th>
                  <th width="5%">M</th>                                          
                </tr>
              </thead>   
              <tbody>
                <tr>
                  <td colspan="5" class="dataTables_empty">Please select event first</td>
                </tr>                                
              </tbody>  
            </table> 
        </div><!--/span-->
      </div><!--/row-->
    </div>
    <div class="tab-pane" id="view-published">
      Not Ready
    </div>
    <div class="tab-pane" id="view-missing">
      Not Ready
    </div>
  </div>
</div><!--main-content-->
  
      
<div class="modal hide fade" id="myModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Settings</h3>
  </div>
  <div class="modal-body">
    <p>Here settings can be configured...</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-primary">Save changes</a>
  </div>
</div>

{% endblock %}
