{% extends "layout.html" %}
{% block content %}

<div id="main-content">
  <ul class="breadcrumb">
    <li>
      <a href="/">Home</a> <span class="divider">/</span>
    </li>
    <li>
      <a href="#">Edit Data</a>
    </li>
  </ul>

  <div>
  {% if message %}
  <div class="alert alert-success">
    {{ message }}
  </div>
  {% endif %}
  {% if event %}
    <form class="form-horizontal" method="POST"> {{ xsrf_form_html()|safe }}
      <fieldset>
        <legend>Edit Event</legend>

        <div class="control-group">
          <label class="control-label" for="typeahead">Cover image</label>
          <div class="controls">
                <img src="{{ event.cover_image|imagesize('224x0') }}"/>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="typeahead">Title</label>
          <div class="controls">
              <input type="text" class="span6 typeahead" name="title" value="{{ event.title|e }}">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="textarea2">Details</label>
          <div class="controls">
            <textarea name="description" rows="5",cols="50" style="width:400px;">{{ event.description|e }}</textarea>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="typeahead">Departments</label>
          <div class="controls">
              <input type="text" class="span6 typeahead" name="departments" value="{{ event.departments|e }}">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="typeahead">Brands</label>
          <div class="controls">
              <input type="text" class="span6 typeahead" name="brands" value="{{ event.brands|e }}">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="typeahead">Tags</label>
          <div class="controls">
              <input type="text" class="span6 typeahead" name="tags" value="{{ event.tags|e }}">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="typeahead">Rank</label>
          <div class="controls">
              <input type="text" class="span6 typeahead" name="score" value="{{ event.recommend_score }}">
          </div>
        </div>

        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Save & Publish</button>
          <button type="reset" class="btn">Cancel</button>
        </div>
    </form>
    {% endif %}

  </div>
</div><!--main-content-->
  
<div class="modal hide fade" id="myModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Settings</h3>
  </div>
  <div class="modal-body">
    <p>Here settings can be configured...</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-primary">Save changes</a>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
</script>
{% endblock %}
