<html>
<head></head>
<body>
	<table>
		<tr>
			<th>title</th>
			<th>brand</th>
			<th>favbuy_brand</th>
			<th>site</th>
			<th>doctype</th>
			<th>key</th>
			<th>url</th>
			<th>created_at</th>
			<th>updated_at</th>
			<th>brand_complete</th>
			<th>is_checked</th>
		</tr>
		{% for task in tasks %}
			<tr>
				<td>{{ task.title }}</td>
				<td>{{ task.brand }}</td>
				<td>{{ task.favbuy_brand }}</td>
				<td>{{ task.site }}</td>
				<td>{{ task.doctype }}</td>
				<td>{{ task.key }}</td>
				<td>{{ task.url }}</td>
				<td>{{ task.created_at }}</td>
				<td>{{ task.updated_at }}</td>
				<td>{{ task.brand_complete }}</td>
				<td>{{ task.is_checked }}
			</tr>
		{% endfor %}
	</table>
</body>
</html>