{% extends "layout.html" %}
{% block content %}

<div id="main-content">
  <ul class="breadcrumb">
    <li>
      <a href="/">Home</a> <span class="divider">/</span>
    </li>
    <li>
      <a href="#">View Data</a>
    </li>
  </ul>

  <div>
    <ul class="nav nav-tabs">
      <li name="viewdata"><a href="/viewdata/recommend">Recommend</a></li>
      <li name="viewdata"><a href="/viewdata/events">Events</a></li>
      <li name="viewdata"><a href="/viewdata/products">Products</a></li>
      <li name="viewdata"><a href="/viewdata/classification">Classification</a></li>
      <li name="viewdata"><a href="/viewdata/editlog">EditLog</a></li>
    </ul>
  </div>
  <div>
  {% if message %}
    {{ message }}
  {% else %}
    <div style="display: inline-block; vertical-align:middle;">
        <input class="input-large" id="searchinput" type="text" />
        <button class="btn" id="searchtitle">Search Title</button> 
    </div>
    <hr style="margin-top: 5px; margin-bottom:10px;"/>
    <div>
       Dept: <input type='text' id='dept1' style="width:10%" />
       <button style="margin-top:-8px;" class="btn" id="deptnew">View Depts</button>
    </div>
    <hr style="margin-top: 5px; margin-bottom:10px;"/>
    <div class="container">
        {% for e in events %}
        <div style="float: left; width: 250px; height: 500px;">
          <a target="_blank" href="{{e.original_url}}"><img src="{{ e.cover_image|imagesize('280x280') }}" style="width:240px; height:240px;"/><br /></a>
          <b style="color:grey">@score</b> {{ e.score }}<br />
          <b style="color:grey">@site_key</b> {{ e.site_key }}<br />
          <b style="color:grey">@title</b> {{ e.title }}<br />
          <b style="color:grey">@departments</b> {{ e.departments }}<br />
          <b style="color:grey">@brands(first 3)</b> {{ e.brands[:3] }}<br />
          <b style="color:grey">@tags(first 3)</b> {{ e.tags[:3] }}<br />
          <a target="_blank" href="http://www.favbuy.com/event/{{ e.id }}/"><i class="icon icon-yellow icon-extlink"></i>Go to Event</a><br />
          <a href="/editdata/event/{{ e.id }}/"><i class="icon icon-edit icon-blue"></i>Edit Event</a><br />
          <a href="/viewdata/products?events={{ e.id }}"><i class="icon icon-red icon-folder-open"></i>Products in Event</a><br />
        </div>                                
        {% endfor %}
    </div>
    <div class="pagination pagination-centered">
      <ul>
        {% if pagination.has_prev %}
        <li><a class="pagination" page="{{pagination.page-1}}" href="#">Prev</a></li>
        {% endif %}
        {% for page in pagination.iter_pages() %}
        {% if page %}
          {% if page == pagination.page %}
            <li class="active"><a class="pagination" page="" href="#">{{page}}</a></li>
          {% else %}
            <li><a class="pagination" page="{{page}}" href="#">{{page}}</a></li>
          {% endif %}
        {% else %}
          <li><a class="pagination" page="" href="#">...</a></li>
        {% endif %}
        {% endfor %}
        {% if pagination.has_next %}
        <li><a class="pagination" page="{{pagination.page+1}}" href="#">Next</a></li>
        {% endif %}
      </ul>
    </div>   
  {% endif %}
  </div>
</div><!--main-content-->
  
      
<div class="modal hide fade" id="myModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Settings</h3>
  </div>
  <div class="modal-body">
    <p>Here settings can be configured...</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-primary">Save changes</a>
  </div>
</div>

{% endblock %}

{% block script %}
<script>
  // make nav css correct
  $('li[name=viewdata]').each(function(){
    var link = $(this).find(">:first-child").attr('href');
    if (window.location.href.indexOf(link) != -1){
      $(this).addClass('active');
    }
  })

  $('#searchtitle').click(function(){
    var url = "/viewdata/events?"+ $.param({'title__icontains':$('#searchinput').val()});
    window.location.href = url;
  });

  // make selection consistent with url
  var param = $.deparam(window.location.href.substr(window.location.href.indexOf('?')+1));

  // pagination
  $('a.pagination').live('click', function(){
    if ($(this).attr('page')) {
      param['offset'] = ($(this).attr('page')-1)*20;
      var url = "/viewdata/events?" + $.param(param);
      window.location.href = url;
    }
  });

  $('#deptnew').live('click', function(){
    var dept = $('#dept1').val()
    location.href = '/viewdata/events?order_by=-updated_at&departments__all='+dept;
  });

</script>
{% endblock %}
