{% extends "layout.html" %}
{% block content %}

<div id="main-content">
  <ul class="breadcrumb">
    <li>
      <a href="/">Home</a> <span class="divider">/</span>
    </li>
    <li>
      <a href="#">View Data</a>
    </li>
  </ul>

  <div>
    <ul class="nav nav-tabs">
      <li name="viewdata"><a href="/viewdata/recommend">Recommend</a></li>
      <li name="viewdata"><a href="/viewdata/events">Events</a></li>
      <li name="viewdata"><a href="/viewdata/products">Products</a></li>
      <li name="viewdata"><a href="/viewdata/classification">Classification</a></li>
    </ul>
  </div>
  <div>
  {% if message %}
    {{ message }}
  {% else %}
    <div style="display: inline-block; vertical-align:middle;">
        <input class="input-large" id="searchinput" type="text" />
        <button class="btn" id="searchtitle">Search Title</button> 
    </div>
    <div style="display: inline-block; vertical-align:middle;">
        <button class="btn" id="editall">Reclassify All</button>
    </div>
      <div class="container">
        {% for p in products %}
        <div style="float: left; width: 250px; height:500px;">
          <img src="{{ p.cover_image|imagesize('224x0') }}" /><br />
          {{ p.title }}<br />
          <b style="color:grey">@departments</b> {{ p.department_path }}<br />
          <b style="color:grey">@brand</b> {{ p.brand }}<br />
          <b style="color:grey">@tags(first 3)</b> {{ p.tags[:3] }}<br />
          <b style="color:grey">@prices </b> {{ p.our_price }} / {{ p.list_price }} <br />
          <a target="_blank"  href="http://favbuy.com/product/{{ p.id }}/"><i class="icon icon-yellow icon-extlink"></i>Go to Product</a><br />
          <a href="/editdata/product/{{ p.id }}/"><i class="icon icon-edit icon-blue"></i>Edit Product</a><br />
          <a href="#" name="reason" site_key="{{p.site_key}}"><i class="icon icon-red icon-search"></i>clf-reason</a>
        </div>                                
        {% endfor %}
      </div>  
    <div class="pagination pagination-centered">
      <ul>
        {% if pagination.has_prev %}
        <li><a class="pagination" page="{{pagination.page-1}}" href="#">Prev</a></li>
        {% endif %}
        {% for page in pagination.iter_pages() %}
        {% if page %}
          {% if page == pagination.page %}
            <li class="active"><a class="pagination" page="" href="#">{{page}}</a></li>
          {% else %}
            <li><a class="pagination" page="{{page}}" href="#">{{page}}</a></li>
          {% endif %}
        {% else %}
          <li><a class="pagination" page="" href="#">...</a></li>
        {% endif %}
        {% endfor %}
        {% if pagination.has_next %}
        <li><a class="pagination" page="{{pagination.page+1}}" href="#">Next</a></li>
        {% endif %}
      </ul>
    </div>   
  {% endif %}
  </div>
</div><!--main-content-->
  
      
<div class="modal hide fade" id="myModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Settings</h3>
  </div>
  <div class="modal-body">
    <p>Here settings can be configured...</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-primary">Save changes</a>
  </div>
</div>

<div class="modal hide fade" id="reason-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Classification Reason</h3>
  </div>
  <div class="modal-body" id="reason-body">
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>

<div class="modal hide fade" id="edit-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">x</button>
    <h3>Reclassify All Departments</h3>
  </div>
  <div class="modal-body" id="edit-body">
    Depts: (e.g. ['Women', 'Shoes']) <input type="text" id="edit-input" class="input-large" value=""/>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary" id="edit-save">Save</a>
    <a href="#" class="btn" data-dismiss="modal">Close</a>
</div>

{% endblock %}

{% block script %}
<script>
  // make nav css correct
  $('li[name=viewdata]').each(function(){
    var link = $(this).find(">:first-child").attr('href');
    if (window.location.href.indexOf(link) != -1){
      $(this).addClass('active');
    }
  });

  // make selection consistent with url
  var param = $.deparam(window.location.href.substr(window.location.href.indexOf('?')+1));

  // pagination
  $('a.pagination').live('click', function(){
    if ($(this).attr('page')) {
      param['offset'] = ($(this).attr('page')-1)*20;
      var url = "/viewdata/products?" + $.param(param);
      window.location.href = url;
    }
  });

  $('#searchtitle').click(function(){
    var url = "/viewdata/products?"+ $.param({'title__icontains':$('#searchinput').val().replace(')','\\)').replace('(','\\(')});
    window.location.href = url;
  });

  // reason
  $('[name=reason]').live('click', function(){
    var site_key = $(this).attr('site_key');
    var s = site_key.split('_');
    var site = s[0]
    var key = s[1]
    $.get('/viewdata/classification_reason.ajax', $.param({site:site,key:key}), function(data){
        $('#reason-body').html(data);
        $('#reason-modal').modal();
    });
  });

  // reclassify all
  $('#editall').live('click', function(){
    $('#edit-modal').modal();
  });

  $('#edit-save').live('click', function(){
    var value = $('#edit-input').val();
    param['departments'] = value;
    $.get('/viewdata/reclassify_all.ajax', param, function(data){
        $('#edit-modal').modal('hide');
        window.location.href = window.location.href;
    });
  });
</script>
{% endblock %}
