Cython==0.17.1
Django==1.4.1
Fabric==1.4.3
GitPython==0.3.2.RC1
PyMySQL==0.5
SQLAlchemy==0.7.9
argparse==1.2.1
async==0.6.1
blinker==1.2
bottle==0.11.3
clint==0.3.1
gitdb==0.5.4
greenlet==0.4.0
ipython==0.13
legit==0.1.1
lxml==3.0.1
mock==1.0.0
mongoengine==0.7.5
msgpack-python==0.2.2
pycrypto==2.6
pymongo==2.3
pytz==2012f
pyzmq==2.2.0.1
pyzmq-static==2.2
redis==2.7.1
redisco==0.1.4
requests==0.14.1
selenium==2.25.0
sh==1.04
simplejson==2.6.2
smmap==0.8.2
ssh==1.7.14
wsgiref==0.1.2
zerorpc==0.3.0
cssselect==0.7.1
python-dateutil ==2.1
PIL
boto
slumber==0.5.1
esmre==0.3.1
