Cython==0.17.1
Django==1.4.1
Fabric==1.4.3
argparse==1.2.1
gevent==0.13.8
greenlet==0.4.0
ipython==0.13
lxml==3.0.1
mongoengine==0.7.5
msgpack-python==0.2.2
pycrypto==2.6
pymongo==2.3
pyzmq==2.2.0.1
pyzmq-static==2.2
redis==2.7.1
redisco==0.1.4
requests==0.14.1
selenium==2.25.0
ssh==1.7.14
wsgiref==0.1.2
zerorpc==0.3.0
