  <ul class="breadcrumb">
    <li>
      <a href="/">Home</a> <span class="divider">/</span>
    </li>
    <li>
      <a href="#">UserAction</a>
    </li>
  </ul>

  <div>
    <ul class="nav nav-tabs">
      <li name="useraction"><a href="/useraction/overview">Overview</a></li>
      <li name="useraction"><a href="/useraction/topusers">TopUsers</a></li>
      <li name="useraction"><a href="/useraction/sitelog">SiteLog</a></li>
      <li name="useraction"><a href="/useraction/userlog">UserLog</a></li>
    </ul>
  </div>
